@model MiPrimeraSolucion.abstraccion.ModelosParaUI.Clientes.ClientesDTO

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Que Cliente quiere eliminar?</h3>
<dt>
    @Html.DisplayNameFor(model => model.IDCliente)
</dt>



@Html.AntiForgeryToken()
<div class="form-group">
    @Html.Label("ID del cliente a eliminar")
    @Html.TextBox("id", null, new { @class = "form-control", placeholder = "Ingrese el ID del cliente" })
</div>
<button type="submit" class="btn btn-danger">Eliminar</button>
<div>
    @Html.ActionLink("regresar", "ListaClientes")
</div>

<div>
    <h4>Inventario</h4>
    <hr />


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div>
            @Html.ActionLink("Back to List", "ListaClientes")
        </div>
    }
</div>
